@model User

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div id="BaseBody" class="text-center col col-sm-3 col-md-4 col-lg-12"></div>
<div class="baseElement card mb-3 shadow-sm" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..\..\@Model.AvatarPath" class="img-fluid rounded-start" alt="фото профиля">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title font mb-2">@Model.Surname @Model.Name</h4>
        <hr class="m-0 mb-3">
        <p class="card-text fs-6 mb-1 text-secondary font"><b><i class="bi bi-envelope text-secondary p-2"></i></b> @Model.Email</p>
        <p class="card-text fs-6 mb-1 text-secondary font"><b><i class="bi bi-calendar3 text-secondary p-2"></i></b> @Model.DateOfBirth.ToShortDateString()</p>
        <p class="card-text fs-6 mb-1 text-secondary font"><b><i class="bi bi-phone text-secondary p-2"></i></b> @Model.PhoneNumber</p>
        <p class="card-text fs-6 mb-1 text-secondary font"><b><i class="bi bi-person text-secondary p-2"></i></b> @Model.RoleDisplay</p>
      </div>
    </div>
  </div>
</div>

@if (User.Identity.Name == Model.Email)
{
  <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="Edit" asp-route-userId="@Model.Id">Редактировать профиль</a>
  <a class="btn btn-outline-danger" asp-controller="Account" asp-action="ChangePassUser" asp-route-email="@Model.Email">Изменить пароль</a>
}

@section Scripts
{
  <script >
    $(document).ready(function () {
        $('#caption').text("Карточка пользователя");
    });
  </script>
}