@model CRM_Upack_kz.ViewModels.EditUserViewModel

@{
    string date = Model.DateOfBirth.ToShortDateString().Substring(6,4) + "-" + Model.DateOfBirth.ToShortDateString().Substring(3,2) + "-" + Model.DateOfBirth.ToShortDateString().Substring(0,2);
    Layout = "_Layout";
}

<div id="BaseBody" class="text-center col col-sm-3 col-md-4 col-lg-12"></div>
<div class="baseElement col-md-4 pt-3 pb-4 ">
     @if (User.Identity.Name == Model.Email || User.IsInRole("admin"))
     {
         <div class="form-group">
             <img src="..\..\@Model.AvatarPath" class="img-fluid rounded-start pb-3" alt="фото">
         </div>

         <form asp-action="Edit" asp-controller="Account" method="post" asp-route-userId="@ViewBag.UserId" enctype="multipart/form-data">
             <div class="text-danger" asp-validation-summary="ModelOnly"></div>
             <div class="form-group mb-3">
                 <label asp-for="Name"></label>
                 <input id="name" class="form-control shadow-sm" asp-for="Name" value="@Model.Name">
                 <small><span asp-validation-for="Name" class="text-danger"></span></small>
             </div>
             <div class="form-group mb-3">
                 <label asp-for="Surname"></label>
                 <input id="surname" class="form-control shadow-sm" asp-for="Surname" value="@Model.Surname">
                 <small><span asp-validation-for="Surname" class="text-danger"></span></small>
             </div>

             <div class="form-group mb-3">
                 <label asp-for="Email"></label>
                 <input id="email" class="form-control shadow-sm" asp-for="Email" value="@Model.Email">
                 <small><span asp-validation-for="Email" class="text-danger"></span></small>
             </div>

             <div class="form-group mb-3">
                 <label asp-for="DateOfBirth"></label>
                 <input id="birth" type="date" class="form-control shadow-sm" asp-for="DateOfBirth" value="@date">
                 <small><span asp-validation-for="DateOfBirth" class="text-danger"></span></small>
             </div>

             <div class="form-group mb-3">
                 <label asp-for="PhoneNumber"></label>
                 <input id="phone" class="form-control shadow-sm" asp-for="PhoneNumber" value="@Model.PhoneNumber">
                 <small><span asp-validation-for="PhoneNumber" class="text-danger"></span></small>
             </div>

             @if (User.IsInRole("admin"))
             {
                 <div class="form-group mb-3 p-1">
                     <label asp-for="Role"></label><br>
                     <div class="form-check form-check-inline">
                         <input class="form-check-input" asp-for="Role" type="radio" name="Role" id="inlineRadio1" value="user">
                         <label class="form-check-label" for="inlineRadio1">user</label>
                     </div>
                     <div class="form-check form-check-inline">
                         <input class="form-check-input" asp-for="Role" type="radio" name="Role" id="inlineRadio2" value="merch">
                         <label class="form-check-label" for="inlineRadio2">merch</label>
                     </div>
                     <div class="form-check form-check-inline">
                         <input class="form-check-input" asp-for="Role" type="radio" name="Role" id="inlineRadio3" value="admin">
                         <label class="form-check-label" for="inlineRadio3">admin</label>
                     </div><br>
                     <small><span asp-validation-for="Role" class="text-danger"></span></small>
                 </div>
             }

             <div class="input-group mb-2">
                 <label class="input-group-text" for="inputGroupFile01">Загрузить фото</label>
                 <input type="file" class="form-control" id="inputGroupFile01" asp-for="File">
             </div>

             <div>
                 <input type="submit" id="edit" class="btn btn-outline-primary shadow-sm" value="Изменить">
                 @if (User.IsInRole("admin"))
                 {
                   <a class="btn btn-outline-danger shadow-sm" asp-controller="Account" asp-action="ChangePassAdmin" asp-route-email="@Model.Email">Изменить пароль</a>  
                 }
                 
             </div>
         </form>
     }
     else
     {
         <div class="baseElement card mb-3" style="max-width: 540px;">
             <div class="row g-0 shadow">
                 <div class="col-md-4">
                     <img src="..\..\/Images/Warning/warning.png" class="img-fluid rounded-start" alt="...">
                 </div>
                 <div class="col-md-8">
                     <div class="card-body">
                         <h5 class="card-title">Внимание!</h5>
                         <p class="card-text">Вы не являетесь хозяином этого профиля, пожалуйста покиньте эту страницу.</p>
                         <p class="card-text"><small class="text-muted">Последнее обновление 1 минуту назад</small></p>
                     </div>
                 </div>
             </div>
         </div>
     }
</div>




@section Scripts
{
    <script >
        $(document).ready(function () {
            $('#caption').text("Редактирование пользователя");
        });
    </script>
}