@model System.Collections.Generic.List<CRM_Upack_kz.Models.User>

@{
    Layout = "_Layout";
}

<div id="BaseBody" class="text-center col col-sm-3 col-md-4 col-lg-12"></div>
<table class="baseElement table table-hover">
    <thead class="table-light">
    <tr>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">email</th>
        <th scope="col">Роль</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in @Model)
    {
        <tr>
            <td>@user.Surname</td>
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td>@user.RoleDisplay</td>
            <td>
                <div class="btn-group btn-group-sm shadow" role="group" aria-label="Button group with nested dropdown">
                    <a class="btn btn-sm btn-success p-2" title="Карточка пользователя" asp-route-userId="@user.Id" asp-action="Detail" asp-controller="Account"><i class="bi bi-person"></i></a>
                    <a class="btn btn-sm btn-warning p-2" title="Редактировать" asp-route-userId="@user.Id" asp-action="Edit" asp-controller="Account"><i class="bi bi-pencil-square"></i></a>
                    <a class="btn btn-sm btn-danger pt-2" title="Удалить" asp-route-userId="@user.Id" asp-action="Delete" asp-controller="Account"><i class="bi bi-trash"></i></a>
                </div>
            </td>
        </tr> 
    }
    </tbody>
</table>

@section Scripts
{
  <script >
    $(document).ready(function () {
        $('#caption').text("Список пользователей");
        $('#users').addClass("active");
        $('#applications').removeClass("active");
    });
  </script>
}